@model List<SurfPaddleBlog.Models.Blog>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container float: center">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <h2>@Model[ViewBag.ShownBlogId].Title</h2>
            <p><img class="img img-circle" src="@Model[ViewBag.ShownBlogId].AuthorPictureUrl" height="50" width="50"> &nbsp;@Model[ViewBag.ShownBlogId].Author</p>
        </div>
        <div class="col-xs-4">
            <img class="img img-circle" src="@Model[ViewBag.ShownBlogId].AuthorPictureUrl" height="100" width="100">
            <p>@Model[ViewBag.ShownBlogId].Author</p><p>More stuff yay</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <p>@Model[ViewBag.ShownBlogId].Body1</p><h3>| @Model[ViewBag.ShownBlogId].BigMiddleText</h3>
        </div>
        <div class="col-xs-4">
            <img class="adimage" src="@Model[ViewBag.ShownBlogId].AdPictureUrl" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <p>@Model[ViewBag.ShownBlogId].Body2</p>
        </div>
        <div class="col-xs-4">
            <h4>@Model[ViewBag.ShownBlogId].SideBarTitle</h4>
            <p>@Model[ViewBag.ShownBlogId].SideBarBody</p>
            @Html.ActionLink("New Post", "Create")
            <br />
            @Html.ActionLink("Edit Post", $"Edit/{Model[ViewBag.ShownBlogId].Id}")
            <br />
            @Html.ActionLink("Delete Post", $"Delete/{Model[ViewBag.ShownBlogId].Id}")

        </div>
        <div class="float: right">
                @if(ViewBag.ShownBlogId - 1 >= 0)
                {
                    <a href="Blogs/Details/@(ViewBag.ShownBlogId - 1)" class="Button">Previous</a>
                }
                @if(ViewBag.ShownBlogId + 1 <= Model.Count() - 1)
                { 
                    <a href="Blogs/Details/@(ViewBag.ShownBlogId + 1)" class="Button">Next</a>
                }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
