@model List<SurfPaddleBlog.Models.Blog>

@{
    ViewBag.Title = "Blogs";
}
<div class="container float: center">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <h2>@Model.First().Title</h2>
            <p><img class="img img-circle" src="@Model.First().AuthorPictureUrl" height="50" width="50"> &nbsp;@Model.First().Author</p>
        </div>
        <div class="col-xs-4">
            <img class="img img-circle" src="@Model.First().AuthorPictureUrl" height="100" width="100">
            <p>@Model.First().Author</p><p>More stuff yay</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <p>@Model.First().Body1</p><h3>| @Model.First().BigMiddleText</h3>
        </div>
        <div class="col-xs-4">
            <img class="adimage" src="@Model.First().AdPictureUrl" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <p>@Model.First().Body2</p>
        </div>
        <div class="col-xs-4">
            <h4>@Model.First().SideBarTitle</h4>
            <p>@Model.First().SideBarBody</p>
            @Html.ActionLink("New Post", "Create")
            <br />
            @Html.ActionLink("Edit Post", $"Edit/{Model.First().Id}")
            <br />
            @Html.ActionLink("Delete Post", $"Delete/{Model.First().Id}")

        </div>
    </div>
</div>
</div>

<div class="container text-center">
    <divclass ="row">
        <div class="col-xs-8 col-xs-offset-4 text-center">
            <h1>MOST POPULAR POSTS</h1>
        </div>
</div>
</div>
<div class="container-fluid">
    @if (Model.Count() >= 1)
    {
        for (int i = 1; i <= 4; i++)
        {
            if (Model.Count() > i)
            {
                <a href="Blogs/Details/@Model[i].Id"><img class="imgsize" src="@Model[i].AdPictureUrl" alt=""></a>
            }
            else
            {
                <img class="imgsize" src="http://inbound.anchorstl.com/wp-content/uploads/2013/04/no-blog.jpg" alt="">
            }
        }
    }
</div>